/*Pagina inicial*/
.home-body body{
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}
.dropdown-menu {
    background-color: white;
    font-family: sans-serif;
}

.carousel-item img {
    margin: auto;
}

.carousel {
    position: relative;
    width: max-content; 
    margin: 0 auto; 
}

.carousel-inner img {
    border-radius: 15px;
    max-width: 500px; 
}
#carouselControls {
  margin-top: 15px; 
}

.carousel-control-prev,
.carousel-control-next {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.carousel-control-prev {
    left: 0; 
    transform: translate(-50%, -50%);
}

.carousel-control-next {
    right: 0; 
    transform: translate(50%, -50%);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
    width: 20px;
    height: 20px;
}
/*---------------------------------------------*/

